{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
    'semi': ['error', 'never'],
    'linebreak-style': ['error', 'unix']
  }
}
